# build output
dist/
.output/
.vercel/
.netlify/

# dependencies
node_modules/

# generated types
.astro/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# environment variables
.env
.env.production
.env.local

# macOS / editors
.DS_Store
*.local
.vscode/
.idea/
